@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  padding: 20px 100px 50px 100px;
  background-color: rgba(255, 144, 14, 0.1);
  display: flex;
  flex-flow: column nowrap;
  row-gap: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav>h1 {
  color: #131313;
  font-size: 2rem;
  font-weight: 700;
}

nav>ul {
  display: flex;
  gap: 30px;
}

nav>ul>li {
  list-style: none;
}

nav>ul>li>a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #424242;
  font-weight: 500;
}

.banner {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;

}

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: 800;
}

.banner-description {
  font-size: 1rem;
  font-weight: 400;
}

.primary-btn {
  background-color: rgba(255, 144, 14, 1);
  padding: 17px 35px;
  color: #fff;
  border: none;
  border-radius: .5rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

main {
  margin: 50px auto;
  max-width: 1100px;
}

.our-features {
  margin: 0 auto;
  max-width: 950px;
  display: flex;
  gap: 2rem;
}

.left-col {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  gap: .7rem;
  flex-basis: 50%;

}

.left-col img {
  width: 250px;
}

.right-col {
  display: flex;
  flex-flow: column nowrap;
  gap: .7rem;
  align-items: flex-start;
  justify-content: center;
  flex-basis: 50%;
}

.column-title {
  font-size: 2.1rem;
}

.quicklist {
  color: #727272;
  font-weight: 500;
}

.features {
  color: rgba(255, 144, 14, 1);
}

.experience-section {
  margin: 70px 20px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
}

.left-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  flex-basis: 50%;
}

.left-content .section-title {
  font-size: 2.7rem;
  font-weight: 800;
  padding-left: 20px;
  border-left: 6px solid rgba(255, 144, 14, 1);
}

.left-content .section-description {
  color: #727272;
  font-size: 1.1rem;
}

.mini-rows {
  margin-top: 1.25rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #7272721d;
  display: flex;
  flex-flow: column nowrap;
  gap: .6rem;
}

.mini-rows h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

.mini-rows p {
  color: #727272;
}

.right-col {
  margin-left: 20px;
  flex-basis: 50%;
}

.right-col img {
  width: 100%;
}

.experience-box {
  width: 240px;
  min-height: 150px;
  padding: 1.25rem;
  background-color: rgba(255, 144, 14, 1);
  border-radius: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  margin-left: -40px;
}

.experience-box h2 {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.experience-box p {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
}


@media screen and (max-width:576px) {
  .header {
    margin: 0 auto;
    padding: 20px 10px 50px 10px;
  }

  nav {
    flex-direction: column;
    gap: 1.25rem;
  }

  h1.site-title {
    font-size: 2.5rem;
  }

  nav ul li a {
    font-size: 1.25rem;
  }

  .banner-content {
    max-width: 100%;
  }

  h2.banner-title {
    font-size: 2rem;
  }

  button.primary-btn {
    font-size: 1.05rem;
  }

  img.banner-image {
    width: 100%;
  }

  .our-features {
    width: 100%;
  }

  .left-col {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .our-features {
    flex-direction: column;
    padding: 10px;
  }

  .left-col img {
    width: 100%;
  }

  section.experience-section {
    flex-direction: column;
  }

  .experience-box {
    margin-left: -30px;
  }

  .left-content .section-title {
    font-size: 1.8rem;
  }
}